VITE_WALLETCONNECT_PROJECT_ID=
VITE_SERVER_ADDRESS=https://api.vultisig.com
VITE_TALK_ADDRESS=https://arena.vultisig.com/api/v1/
VITE_RPC_MAINNET=https://ethereum-rpc.publicnode.com
DATABASE_URL=
ETHEREUM_RPC_URL=
ADMIN_WALLETS=
