@use "~variables" as *;
@use "sass:math";

.stacking-page {
  display: flex;
  flex-direction: column;
  gap: rem(24);

  .heading {
    align-items: center;
    display: flex;
    font-size: rem(17);
    font-weight: 500;
    gap: rem(8);

    img {
      height: rem(36);
      width: rem(36);
    }
  }

  .stats {
    display: flex;
    flex-direction: column;
    gap: rem(16);

    .icon {
      left: 0;
      position: absolute;
      stroke: $button-secondary;
      top: 50%;
      transform: translateY(-50%);
    }

    .label {
      font-weight: 500;
      font-size: rem(13);
      line-height: rem(18);
      white-space: nowrap;
    }

    .value {
      font-weight: 500;
      font-size: rem(17);
      line-height: rem(20);
      white-space: nowrap;
    }

    .divider {
      background-color: $border-normal;
      height: rem(1);
      width: 100%;
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: rem(6);
      padding-left: rem(36);
      position: relative;
      width: 100%;
    }
  }

  .stake-reward {
    background-color: $background-secondary;
    border-radius: rem(20);
    display: flex;
    flex-direction: column;
    gap: rem(16);
    padding: rem(16);

    .label {
      font-size: rem(17);
      font-weight: 500;
    }

    .item {
      align-items: center;
      border: solid rem(1) $border-normal;
      border-radius: rem(12);
      display: flex;
      height: rem(78);
      justify-content: space-between;
      gap: rem(8);
      padding: 0 rem(16);
      width: 100%;

      .value {
        font-size: rem(22);
        font-weight: 500;
      }
    }

    .balance {
      align-items: center;
      display: flex;
      font-size: rem(16);
      font-weight: 500;
      justify-content: center;
    }

    .button {
      width: 100%;
    }
  }

  .stake-withdraw {
    background-color: $background-secondary;
    border-radius: rem(20);
    display: flex;
    flex-direction: column;
    gap: rem(16);
    padding: rem(4) rem(16) rem(16);

    .price {
      font-weight: 500;
      font-size: rem(13);
    }

    .percentage {
      display: flex;
      gap: rem(12);

      li {
        border: solid rem(1) $border-normal;
        border-radius: rem(8);
        cursor: pointer;
        font-size: rem(16);
        font-weight: 500;
        line-height: rem(34);
        padding: 0 rem(12);
      }
    }

    .ant-input-number-input {
      font-size: rem(16);
      font-weight: 500;
      height: rem(56);
      padding: 0 rem(16);
    }

    .ant-input-number {
      background-color: transparent;
      border: solid rem(1) $border-normal;
      border-radius: rem(12);
      box-shadow: none;
      color: $text-light;
      outline: none;
      width: 100%;
    }

    .ant-btn {
      height: rem(48);
    }

    .ant-form {
      display: flex;
      flex-direction: column;
      gap: rem(16);
    }

    .ant-tabs-tab-btn {
      font-size: rem(15);
      font-weight: 500;
    }

    .ant-tabs-tab {
      flex: 1;
      justify-content: center;
      margin: 0 !important;
    }

    .ant-tabs-nav-list {
      width: 100%;
    }

    .ant-tabs-nav {
      margin: 0;
    }
  }
}

@media (min-width: rem(768)) {
  .stacking-page {
    .heading {
      font-size: rem(22);

      img {
        height: rem(46);
        width: rem(46);
      }
    }

    .stats {
      flex-direction: row;
      gap: rem(36);

      .divider {
        height: rem(44);
        width: rem(1);
      }
    }

    .stake-withdraw {
      .ant-tabs-tab-btn {
        font-size: rem(22);
      }
    }
  }
}
