@use "~variables" as *;
@use "sass:math";

.swap-page {
  display: flex;
  flex-direction: column;
  gap: rem(16);

  .aside {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    width: rem(400);
  }

  .main {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: rem(16);
  }
}

@media (min-width: rem(1400)) {
  .swap-page {
    flex-direction: row-reverse;
    max-width: rem(1400) !important;
  }
}
