@use "_variables" as *;

body {
  background-color: $blue-dark;
  color: $text-primary;
  font-family: $primary-font;
  min-width: rem(360);
  overflow-x: hidden;

  &::-webkit-scrollbar {
    background-color: $blue-base;
    width: rem(8);
  }

  &::-webkit-scrollbar-corner {
    background-color: $blue-base;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue-light;
  }
}

.ant-btn {
  font-weight: 600;
}

.ant-modal {
  .ant-modal-title {
    font-size: rem(16);
    font-weight: 500;
    text-align: center;
  }

  .ant-modal-header {
    margin: 0;
    padding: rem(24) rem(30);
  }

  .ant-modal-body {
    padding: 0 rem(30) rem(30);
  }

  .ant-modal-footer {
    margin: 0;
  }

  .ant-modal-content {
    padding: 0;
  }
}

.primary-button {
  align-items: center;
  background-color: $button-primary;
  cursor: pointer;
  color: $text-primary;
  border-radius: rem(30);
  display: flex;
  font-weight: 600;
  justify-content: center;
  height: rem(48);
  padding: 0 rem(16);
  transition: all 0.2s;

  &:hover {
    background-color: $button-primary-hover;
    color: $text-primary;
  }

  &.disabled {
    background-color: $button-disabled;
    color: $button-disabled-text;
    cursor: default;
  }
}

.secondary-button {
  align-items: center;
  background-color: $button-secondary;
  cursor: pointer;
  color: $text-primary;
  border-radius: rem(30);
  display: flex;
  font-weight: 600;
  justify-content: center;
  height: rem(48);
  padding: 0 rem(16);
  transition: all 0.2s;

  &:hover {
    background-color: $button-secondary-hover;
    color: $text-primary;
  }

  &.disabled {
    background-color: $button-disabled;
    color: $button-disabled-text;
    cursor: default;
  }
}

.token-dropdown {
  align-items: center;
  background-color: $background-tertiary;
  border-radius: rem(20);
  display: flex;
  font-weight: 500;
  gap: rem(4);
  padding: rem(8) rem(32) rem(8) rem(8);
  position: relative;

  .logo {
    height: rem(24);
    width: rem(24);
  }

  .arrow {
    position: absolute;
    right: rem(4);
    top: 50%;
    transform: translateY(-50%);
  }

  &.vult {
    padding-right: rem(12);

    .logo {
      align-items: center;
      background-color: $background-primary;
      border-radius: 50%;
      display: flex;
      padding: rem(4);

      img {
        width: 100%;
      }
    }
  }
}

.token-dropdown-menu {
  .ant-dropdown-menu-item-icon {
    height: rem(24);
    width: rem(24);
  }

  .ant-dropdown-menu-item {
    padding: rem(8) rem(4) !important;
  }

  .ant-dropdown-menu {
    background-color: $background-tertiary;
  }
}

@media (max-width: rem(576)) {
  .ant-modal {
    margin: 0 !important;
    max-width: 100% !important;
    min-width: rem(360);
    top: 0;
    width: 100% !important;

    .ant-modal-body {
      overflow-x: hidden;
    }

    .ant-modal-content {
      border-radius: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
      padding: 0;
    }
  }

  .ant-modal-wrap {
    overflow: hidden !important;
  }
}
