@use "~variables" as *;
@use "sass:math";

.pool-page {
  .card {
    background-color: $background-secondary;
    border-radius: rem(20);
    display: flex;
    flex-direction: column;
    gap: rem(8);
    padding: rem(24) rem(16);

    .heading {
      font-size: rem(16);
      font-weight: 500;
      line-height: rem(24);
    }
  }

  .aside,
  .main {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }
}

@media (min-width: rem(1400)) {
  .pool-page {
    .aside,
    .main {
      flex-grow: 1;
    }
  }
}
