@use "~variables" as *;

.swap-vult {
  .info {
    display: flex;
    flex-direction: column;
    gap: rem(12);

    .item {
      align-items: center;
      display: flex;
      font-weight: 500;
      justify-content: space-between;
      line-height: rem(24);
    }

    .error {
      color: $alert-error;
    }

    .success {
      color: $button-primary;
    }
  }

  .swap {
    align-items: center;
    display: flex;
    flex-direction: column;

    .item {
      border: solid rem(1) $border-normal;
      border-radius: rem(12);
      display: flex;
      flex-direction: column;
      padding: rem(16);
      width: 100%;

      .ant-input-number-input {
        height: rem(40);
        padding: 0;
      }

      .ant-input-number {
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: $text-light;
        font-size: rem(22);
        font-weight: 500;
        outline: none;
        width: 100%;
      }

      .title {
        font-size: rem(12);
        font-weight: 500;
      }

      .balance {
        display: flex;
        justify-content: space-between;
        gap: rem(8);
      }

      .price {
        display: flex;
        justify-content: space-between;
        margin-top: rem(8);

        span {
          color: $text-extra-light;
          line-height: rem(14);
        }

        .available-balance {
          cursor: pointer;

          &.clickable:hover {
            color: $text-light;
          }

          .balance-amount {
            font-weight: bold;
          }
        }
      }
    }

    .switch {
      align-items: center;
      background-color: $button-secondary;
      border: solid rem(1) $border-normal;
      border-radius: rem(12);
      cursor: pointer;
      display: flex;
      height: rem(36);
      justify-content: center;
      margin: rem(-14) 0;
      width: rem(36);
      z-index: 1;

      svg {
        height: rem(20);
        width: rem(20);
      }
    }
  }
}

@media (min-width: rem(768)) {
  .swap-vult {
    .heading {
      height: rem(44);

      .text {
        font-size: rem(28);
      }
    }
  }
}
