@use "~variables" as *;

.swap-vult {
  background-color: $background-secondary;
  border-radius: rem(20);
  display: flex;
  flex-direction: column;
  gap: rem(16);
  padding: rem(16);

  .heading {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    height: rem(34);
    justify-content: space-between;
    position: relative;

    .text {
      font-size: rem(22);
      font-weight: 500;
      left: 50%;
      margin-top: rem(-2);
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .toggle {
      cursor: pointer;
    }

    .reset {
      color: $button-primary;
      cursor: pointer;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: rem(12);

    .item {
      align-items: center;
      display: flex;
      font-weight: 500;
      justify-content: space-between;
      line-height: rem(24);
    }

    .error {
      color: $alert-error;
    }

    .success {
      color: $button-primary;
    }
  }

  .whitelist {
    align-items: center;
    display: flex;
    border-radius: rem(12);
    font-weight: 500;
    gap: rem(8);
    height: rem(50);
    padding: 0 rem(16);

    svg {
      height: rem(16);
      width: rem(16);
    }
  }

  .islisted {
    background-color: #042436;
    border: solid rem(1) #13c89d40;
    color: $button-primary;

    svg {
      stroke: $button-primary;
    }
  }

  .notlisted {
    border: solid rem(1) $border-light;
  }

  .swap {
    align-items: center;
    display: flex;
    flex-direction: column;

    .item {
      border: solid rem(1) $border-normal;
      border-radius: rem(12);
      display: flex;
      flex-direction: column;
      padding: rem(16);
      width: 100%;

      .ant-input-number-input {
        height: rem(40);
        padding: 0;
      }

      .ant-input-number {
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: $text-light;
        font-size: rem(22);
        font-weight: 500;
        outline: none;
        width: 100%;
      }

      .title {
        font-size: rem(12);
        font-weight: 500;
      }

      .balance {
        display: flex;
        justify-content: space-between;
        gap: rem(8);
      }

      .price {
        display: flex;
        justify-content: space-between;
        margin-top: rem(8);

        span {
          color: $text-extra-light;
          line-height: rem(14);
        }
      }
    }

    .switch {
      align-items: center;
      background-color: $button-secondary;
      border: solid rem(1) $border-normal;
      border-radius: rem(12);
      cursor: pointer;
      display: flex;
      height: rem(36);
      justify-content: center;
      margin: rem(-14) 0;
      width: rem(36);
      z-index: 1;

      svg {
        height: rem(20);
        width: rem(20);
      }
    }
  }
}

@media (min-width: rem(768)) {
  .swap-vult {
    .heading {
      height: rem(44);

      .text {
        font-size: rem(28);
      }
    }
  }
}
